[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "r9r-dev.github.io"]
	path = r9r-dev.github.io
	url = https://github.com/r9r-dev/r9r-dev.github.io.git
	branch = master
